* {
	font-size: 13px;
	color: #cdd6f4;
	font-weight: 600;
	font-family: "Segoe UI", "JetBrainsMono NFP";
	margin: 0;
	padding: 0;
}

.yasb-bar {
	padding: 0 8px;
	margin: 0;
	background-color: rgba(30, 30, 46, 0.25);
}

.widget {
	padding: 0 8px;
	margin: 0;
}

.widget .label {
	padding: 0px 2px 2px 2px;
}

.widget .label.alt {
	padding: 1px 8px 1px 8px;
}

/* .komorebi-workspaces,
.komorebi-active-layout {
	margin: 0;
	padding: 0;
}

.komorebi-workspaces .ws-btn {
	font-size: 16px;
	background-color: transparent;
	margin: 0 4px 0 4px;
	color: #95a0ad;
}

.komorebi-workspaces .ws-btn.populated {
	color: #a0c3ee;
}

.komorebi-workspaces .ws-btn:hover,
.komorebi-workspaces .ws-btn.populated:hover,
.komorebi-workspaces .ws-btn.active {
	color: #c2daf7;
} */

.apps-widget {
	padding: 0 4px;
}

.apps-widget .widget-container {
	background-color: rgba(255, 255, 255, 0.1);
	margin: 5px 0 4px 0;
	border-radius: 13px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.apps-widget .label {
	font-size: 14px;
	padding: 0px 2px 1px 2px;
}

.apps-widget .label:hover {
	color: #fff;
}

.active-window-widget .icon {
	padding: 0 0 0 0;
}

/* ICONS */
.icon {
	font-size: 16px;
}

.volume-widget .icon {
	color: #a8a4a9;
	margin: 1px 2px 0 0;
}

.audio-menu {
	background-color: rgba(30, 30, 46, 0.25);
}

/* MEDIA WIDGET */
.media-widget {
	padding: 0;
	padding-left: 2px;
	margin: 0;
	border-radius: 16px;
	margin-right: 8px;
}

.media-widget .label {
	background-color: rgba(0, 0, 0, 0.0);
}

.media-widget .btn {
	color: #a8a4a9;
	padding: 0 3px;
	margin: 4px 0;
	font-weight: 500;
	font-family: "Segoe Fluent Icons";
}

.media-widget .btn:hover {
	color: #ffffff;
}

.media-widget .btn.play {
	background-color: transparent;
	border-radius: 14px;
	font-size: 16px;
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
	color: #7d8297;
	font-size: 12px;
	background-color: rgba(0, 0, 0, 0);
}

/* TASBAR WIDGET */
.taskbar-widget {
	padding: 0;
	margin: 0;
}

.taskbar-widget .app-container {
	padding: 0 6px;
}

.taskbar-widget .app-container .app-title {
	padding-left: 4px;
}

.win-button-widget .label {
	font-size: 18px;
}

.brightness-widget .icon {
	color: #a8a4a9;
	margin: 1px 2px 0 0;
}

.brightness-menu {
	background-color: rgba(30, 30, 46, 0.25);
}

.wifi-widget .icon {
	color: #a8a4a9;
	margin: 1px 2px 0 0;
}

/* .glazewm-tiling-direction {
	background-color: transparent;
	padding: 0;
	margin: 0;
}

.glazewm-tiling-direction .btn {
	font-size: 18px;
	width: 14px;
	padding: 0 4px 0 4px;
	color: #CDD6F4;
	border: none;
}

.glazewm-tiling-direction .btn:hover {
	background-color: #727272;
}

.glazewm-workspaces {
	margin: 0;
}

.glazewm-workspaces .ws-btn {
	font-size: 14px;
	background-color: transparent;
	border: none;
	padding: 0px 4px 0px 4px;
	margin: 0 2px 0 2px;
	color: #CDD6F4;
}

.glazewm-workspaces .ws-btn.active_populated {
	color: #C2DAF7;
	background-color: #727272;
}

.glazewm-workspaces .ws-btn.active_empty {
	color: #7D8B9D;
	background-color: #727272;
}

.glazewm-workspaces .ws-btn.populated {
	color: #C2DAF7;
}

.glazewm-workspaces .ws-btn.empty {
	color: #7D8B9D;
}

.glazewm-workspaces .ws-btn:hover,
.glazewm-workspaces .ws-btn.populated:hover,
.glazewm-workspaces .ws-btn.empty:hover {
	background-color: #727272;
} */